a{
    text-decoration: none;
}
.lien1{
    position: relative;
    padding-left: 150px;
}
.lien2{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    color: black;
    background-color: blanchedalmond;
}